# Google Gemini API Key (全局默认)
# 获取地址: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=123

# (可选) 自定义 API Base URL (全局默认)
# 如果您使用代理或自定义服务端点，请取消注释并设置
GEMINI_API_BASE_URL=http://127.0.0.1:5345

# (可选) 分别指定 生图/文本 模型使用的 API Key
# 如果设置，将覆盖全局 GEMINI_API_KEY
GEMINI_API_BASE_URL_IMAGE=
GEMINI_API_KEY_IMAGE=
GEMINI_MODEL_IMAGE=gemini-3-pro-image-preview


# (可选) 分别指定 生图/文本 模型使用的 API 地址
# 如果设置，将覆盖全局 GEMINI_API_BASE_URL
GEMINI_API_KEY_TEXT=
GEMINI_API_BASE_URL_TEXT=
GEMINI_MODEL_TEXT=gemini-flash-lite-latest